fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
pinecone-client
langchain
langchain-community
langchain-pinecone>=0.1.0
langchain-groq
groq
edge-tts
python-multipart
pypdf
httpx
fastembed
redis
