# Scrapy project configuration for the S.A.R.A.L. scheme ingestion service.
# https://docs.scrapy.org/en/latest/topics/commands.html

[settings]
default = saral_scraper.settings

[deploy]
project = saral_scraper
